.banner {
    width: 100%;
    background: #011627;
}
.banner img {
    width: 100%;
    height: auto;
}
.banner ul {
    padding: 0;
}
.banner ul li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    position: relative;
}
.banner ul li .left, .banner ul li .right {
    width: 50%;
}
.banner .left {
    height: 100%;
}
.banner .left h3 {
    font-size: 45px;
}
.banner h3 {
    font-family: Ubuntu;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    font-size: 32px;
    color: white;
    position: absolute;
    width: 30%;
    left: 20%;
    top: 35%;
}

.banner h3:after {
    content: '___';
    position: absolute;
    bottom: -20px;
    left: 0;
    font-weight: bold;
    color: #FF9F1C;   
}

.slider-control-centerleft {
    left: 15% !important;
}
.slider-control-centerright {
    right: 15% !important;
}
.slider-list {
    cursor: default !important;
}